header {
  height: 110px;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;

    .navigation {
      padding-right: 20px;
    }
}

  td {
  text-align: center;
  }
